$breakpoint: 992px;

.app {
    max-width: 1440px;
}

.hsc-logo {
    max-height: 23px;
    &:hover {
        content: url(./media/HSC-Logo-Original.png);
        cursor: pointer;
    }
}

.team-head {
    transition: all 0.7s ease;
    &:hover {
        margin-top: -20px;
    }
}

.socialIcons:hover {
    transform: scale(1.2);
}

.SpacemanStyle {
    position: relative;
    height: 300px;
    left: 400px;
    top: 100px;
}

@media (max-width: $breakpoint) {
    .SpacemanStyle {
        position: relative;
        left: 180px;
        z-index: 1;
    }
    .PlanetStyle {
        position: relative;
        right: 50px;
        bottom: 200px;
        z-index: 0;
        transform: scale(0.8);
    }
}
