$breakpoint-tablet: 768px;
$breakpoint-large: 992px;

.app {
    max-width: 1440px;
    margin: 0 auto;
}

.hsc-logo {
    max-height: 23px;
}

.team-head {
    transition: all 0.7s ease;
    &:hover {
        margin-top: -20px;
    }
}

.socialIcons:hover {
    transform: scale(1.2);
}

.spaceman-style {
    position: relative;
    height: 300px;
    left: 400px;
    top: 100px;
}

.anim-1 {
    animation-name: opacity;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.anim-2 {
    animation-name: opacity;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.spaceman-anim {
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        top: 50px;
    }

    100% {
        top: 100px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .spaceman-style {
        position: relative;
        left: 100px;
        z-index: 1;
    }
    .planet-style {
        position: relative;
        right: 50px;
        bottom: 200px;
        z-index: 0;
        transform: scale(0.7);
    }
}

@media (max-width: $breakpoint-large) {
    .spaceman-style {
        position: relative;
        left: 200px;
        z-index: 1;
    }
    .planet-style {
        position: relative;
        right: 50px;
        bottom: 200px;
        z-index: 0;
        transform: scale(0.7);
    }
}
