// .app {
//     max-width: 1440px;
// }

.hsc-logo {
    max-height: 23px;
    &:hover {
        content: url(./media/HSC-Logo-Original.png);
        cursor: pointer;
    }
}

.team-head {
    transition: all 0.7s ease;
    &:hover {
        margin-top: -20px;
    }
}

.socialIcons:hover {
    transform: scale(1.2);
}
